/********************************************/
/* BEGIN OPTIONAL CONTENT JUST FOR THE DEMO */

* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

.page {
  background: #fff;
  margin: 0 auto;
  max-width: 62rem;
}

.page > header, .page > footer, main {
  float: left;
  width: 100%;
}

.page > header, .page > footer {
  padding: 1rem;
}

main {
  padding: 0 1rem;
}

/* END OPTIONAL CONTENT */
/************************/


/*****************************************************/
/* CUSTOMIZE BELOW CONTENT TO STYLE HOWEVER YOU LIKE */

/* Larger (desktop and tablet) screen sizes here... */
@media screen and (min-width: 601px) {

  main {
    width: 100%;
  }

  .invisible {
    display: none;
  }

  .tab-nav {
    border-bottom: 1px solid #ddd;
    font-family: sans-serif;
    font-size: .625rem;
    line-height: 1.25rem;
    text-transform: uppercase;
  }

  .tab-nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .tab-nav ul li {
    display: inline;
    margin-right: .25rem;
  }

  .tab-nav .tab-button {
    background: #eee;
    border-radius: .25rem .25rem 0 0;
    color: #555;
    padding: .25rem .375rem;
    text-decoration: none;
  }

  .tab-nav .tab-button.selected {
    background: #ddd;
    color: #444;
  }

  .tab-nav .tab-button:hover {
    background: #ccc;
    color: #333;
  }

  .tab {
    border-bottom: 1px solid #ddd;
    padding: 1rem;
  }

}

/* Smaller screen sizes here... */
@media screen and (max-width: 600px) {

}
